@font-face {
    font-family: "DIN Condensed";
    src: url("/resources/css/fonts/DIN_CONDENSED.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DIN Condensed";
    src: url("/resources/css/fonts/DIN_CONDENSED_LIGHT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
