.slider-template-full-screen {
    @apply relative  ;
}

.slider-template-full-screen .slider-item {
    @apply  min-h-full h-screen;
}

.slider-template-full-screen .slider-item-cover-frame {
    @apply overflow-hidden float-right w-full h-full relative max-md:w-full;
}

.slider-template-full-screen .item-cover {
    @apply  absolute z-[1] w-full h-full object-cover right-0 top-0;
}

.slider-template-full-screen .cover-overlay {
    @apply absolute z-[2] bg-[rgba(255,255,255,0)] w-full h-full right-0 top-0;
}

.slider-template-full-screen .main-title-frame {
    @apply max-md:w-full max-md:items-end max-md:left-0 absolute z-[3] flex items-center h-screen w-full;
}

.slider-template-full-screen .slider-nav-panel {
    @apply absolute z-[9] w-full left-0 bottom-0 pointer-events-none;
}

.slider-template-full-screen .slider-arrows {
    @apply bg-transparent gap-x-6 flex md:justify-end items-center md:px-10 md:pr-5 md:right-0 top-0;
}

.slider-template-full-screen .main-title {
    @apply max-md:w-full max-md:max-w-[430px] py-10 px-5 ;
}

.slider-template-horizontal-1 {

}
/*.slider-template-horizontal-1 {*/
/*    @apply w-full;*/
/*}*/

.slider-template-horizontal-1 .slider-item-cover-frame {
    @apply relative overflow-hidden mb-5 pb-[140%];
}

.slider-template-horizontal-1 .slider-item-cover-frame img {
    @apply w-full h-full absolute object-cover object-top left-0 top-0;
    filter: grayscale(100%);
}

.slider-template-horizontal-1 .cover-overlay {
    @apply bg-body w-full h-full bg-opacity-80 absolute
}

.slider-template-horizontal-1 .main-title {
    @apply w-full grid-cols-2 p-4 gap-x-4;
}


.slider-template-horizontal-1 .slide-title {
    @apply !text-[11px] w-[30px] flex items-center ml-auto leading-normal tracking-[2px]  gap-x-4;


}
.slider-template-horizontal-1 .slide-title::before {
    @apply content-[""] block h-[30px] w-[30px] ;
    background-image: url("/public/img/lens.svg");
}

.slider-template-horizontal-1 .slide-subtitle {
    @apply flex gap-x-4 items-center order-2 ml-auto  w-[30px] pl-0 before:left-[calc(50%_-_4px)] before:static before:inline-block before:w-[3px] before:h-[30px]
}

.slider-template-horizontal-1 .slide-text {
    @apply col-span-2 items-end flex order-3
}

.slider-template-horizontal-1 .main-title-frame {
    @apply w-full h-full absolute top-0 ;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    /* white-space: nowrap; */
    display: flex;
    overflow: visible;
    justify-content: space-between;
    align-items: stretch;
}

/*.slider-template-horizontal-1 .main-title-frame .text {*/
/*    @apply max-w-full;*/
/*}*/

/*.slider-template-horizontal-1 .photo-overlay {*/
/*    @apply opacity-50 absolute z-[2] bg-[rgba(255,255,255,0)] w-full h-full right-0 top-0;*/
/*}*/

/*.slider-pagination-frame .swiper-pagination-bullet {*/
/*    @apply w-2.5 h-[4px] opacity-100 bg-white transition-[0.3s] duration-[ease-in-out] !ml-auto !mr-0 !mb-5 rounded-none last:!mb-0;*/
/*}*/

/*.slider-pagination-frame .swiper-pagination-bullet.swiper-pagination-bullet-active {*/
/*    @apply w-5 bg-primary;*/
/*}*/

/*.slider-progress-bar-frame .slider-progress-bar .progress {*/
/*    @apply relative h-[3px] w-full clear-both opacity-0 rounded-[3px] bottom-0 inset-x-0 after:absolute after:h-full after:w-0 after:content-[""] after:rounded-[3px] after:left-0 after:top-0;*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

/*.slider-progress-bar-frame .slider-progress-bar .progress:after {*/
/*    @apply bg-primary;*/
/*}*/

/*.slider-progress-bar-frame .slider-progress-bar.active .progress {*/
/*    @apply opacity-100;*/
/*}*/

/*.slider-progress-bar-frame .slider-progress-bar.animate .progress:after {*/
/*    @apply transition-[width] delay-[unset] w-full duration-[10s];*/
/*}*/

/*.slider-template-horizontal-1 .slider-arrows {*/
/*    @apply grid justify-center text-center flex-col grid-cols-[repeat(2,1fr)];*/
/*}*/

/*.slider-template-horizontal-1 .slider-nav-panel .container {*/
/*    @apply hidden;*/
/*}*/

/*.slider-template-horizontal-1 .fo {*/
/*    transform: none !important;*/
/*}*/

/*.slider-template-horizontal-1 .slider-arrows > :first-child {*/
/*    @apply col-[1_/_3] order-2;*/
/*}*/

/*.slider-template-horizontal-1 .button-prev {*/
/*    @apply ml-auto;*/
/*}*/

/*.slider-template-horizontal-1 .button-next,*/
/*.slider-template-horizontal-1 .button-prev {*/
/*    @apply cursor-pointer transition-[0.3s] w-[60px];*/
/*    @apply text-foreground;*/
/*}*/

/*.slider-template-horizontal-1 .button-next.swiper-button-disabled,*/
/*.slider-template-horizontal-1 .button-prev.swiper-button-disabled {*/
/*    @apply opacity-30 pointer-events-none;*/
/*}*/
